
.dropdown-and-marks-container {
  display: grid;
  grid-template-columns: [deco-text] auto [deco-dropdown] auto [spacer1] 5px [matches-text] auto [matches-toggle] auto [spacer2] 10px [line-text] auto [line-toggle] auto [spacer3] 10px [end];
  grid-template-rows: [row] auto;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.dropdown-and-marks-container .choose-deco-text {
  grid-column: deco-text; /* Place in 'choose_color' column */
  text-align: left;
  width: 100%;
}

.dropdown-and-marks-container .deco-drowpdown {
  grid-column: deco-dropdwon; /* Place in 'color-picker' column */
}

.dropdown-and-marks-container .matches-text {
  grid-column: matches-text; /* Place in 'choose_deco' column */
  text-align: left; /* Align text to the right */
}

.dropdown-and-marks-container .matches-toggle {
  grid-column: matches-toggle; /* Place in 'drop-down' column */
  border: none;
}

.dropdown-and-marks-container .line-text {
  grid-column: line-text; /* Place in 'save' column */
}

.dropdown-and-marks-container .line-toggle {
  grid-column: line-toggle; /* Place in 'reset' column */
}

.dropdown-and-marks-container .selected-spacer {
  grid-column: spacer3; /* Place in 'save' column */
  border: none;
}
