/* ##################### HEADLINE #####################*/

.headline-toggle-container {
	display: flex;
	align-items: center;
	justify-content: space-between; /* Adjust alignment as needed */
	gap: 10px; /* Add space between the text and toggle */
	margin-right: 50; /* Remove default margin from <h3> */
	border-top: "none";
}

.headline-text {
	margin-right: 50; /* Remove default margin from <h3> */
	border-top: "none";
}

.dynamic-highlights-settings h3.persistent-highlights {
	padding: 5px;
}
.dynamic-highlights-settings .import-export-wrapper {
	right: 0;
	position: absolute;
	padding: 0 30px;
}

.dynamic-highlights-settings .import-export-wrapper a {
	padding: 0 0.2em;
}
.headline-toggle-container .setting-item {
	border-top: none;
}

/* ##################### PERSISTENT HIGHLIGHTS #####################*/
/* ##################### DEFINE PERSISTENT HIGHLIGTS #####################*/

.dynamic-highlights-settings .highlighter-setting-icon {
	display: flex;
	height: 20px;
	width: 20px;
}

.dynamic-highlights-settings .define-Query-UI {
	display: block;
}

.dynamic-highlights-settings .define-Query-UI .setting-item-control {
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	grid-gap: 10px;
	justify-content: flex-start;
	margin-top: 5px;
	border-top: none;
}

/* FLEXBOX TOP ROW */
.define-query-ui-top-container {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: flex-start; /* Align items to the left */
	border-bottom: none;
}

/* Reorder elements in the flexbox */
.query-name-input {
	order: -3; /* Place Query Name input third */
}

.color-button-wrapper {
	order: -2; /* Place Color Picker fourth */
	margin-bottom: -3px;
}

.query-input {
	order: -1; /* Place Query Input fifth */
}

.tag-dropdown {
	order: 0; /* Place Tag Dropdown last */
	padding-top: 5px;
	margin-bottom: -6px;
	margin-right: 12px;
}
.save-button {
	order: 2; /* Move Save button to the first position */
}

.discard-button {
	order: 3; /* Move Discard button to the second position */
}
.dynamic-highlights-settings .action-button.action-button-save {
	align-self: center;
	margin-left: auto;
}
.dynamic-highlights-settings .action-button.action-button-discard {
	align-self: center;
	margin-left: auto;
}
/* Contains the dropdown, regEx and marks */

.define-query-ui-bottom-container {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: start; /* Align items to the left */
	border-top: none;
	margin-top: -45px;
	margin-left: 0px;
}
/* Reorder elements in the flexbox */
.deco-dropdown {
	order: 0;
	margin-top: 3px;
	margin-right: 5px;
}

.regEx-text {
	order: 1;
	text-align: start;
	margin-right: -3px;
}

.regEx-toggle {
	order: 2;
	margin-right: 5px;
}

.matches-text {
	order: 3;
	text-align: start;
	margin-left: 10px;
}

.matches-toggle {
	order: 4;
}

.line-text {
	order: 5;
	margin-left: 10px;
}

.line-toggle {
	order: 6;
}

/* ##################### YOUR HIGHLIGHTERS AND TAGS #####################*/
/* This is for the display of the highlighters themselves */

.your-highlighters {
	margin-top: -20px;
	border-top: 1px solid #ccc;
	padding-top: 10px;
	font-size: 1.2em;
	font-weight: 550;
	font-kerning: 0.05em;
	padding-bottom: 10px;
	margin-bottom: 0px;
	margin-right: 10px;
}

.tag-container {
	border: 1px solid #ccc; /* Add a complete border */
	/*border-radius: 10px; /* Optional: Add some rounding to the corners */
	padding: 15px;
	/*background-color: #bbb3c638;*/
}

.tag-container .tag-header {
	display: flex; /* Use flexbox for layout */
	align-items: center; /* Center items vertically */
	cursor: pointer; /* Keep the pointer cursor */
}

.tag-header-buttons {
	display: flex; /* Use flexbox for layout */
	align-items: center; /* Center items vertically */
	border: none;
}

.tag-header .toggle-icon {
	margin-right: 5px;
	cursor: pointer;
	border-top: none;
}

.tag-header .tag-name {
	flex-grow: 1;
	border-top: 1px;
	font-weight: 600;
	font-size: medium;
	border-bottom: 1px;
	background-color: #ffffff;
}

.tag-header .Tag-toggle {
	margin-left: auto;
	border-top: 1px;
	border-bottom: 1px;
}

.dynamic-highlights-settings .Tag-wrapper {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(2, auto);
}
.dynamic-highlights-settings .highlighter-container {
	/* allow for copy and paste */
	user-select: text;
	border-bottom: 1px solid var(--background-modifier-border);
	margin-top: 10px;
	margin-bottom: 10px;
}

.dynamic-highlights-settings .highlighter-container .highlighter-details {
	display: flex;
	padding: 18px 0 18px 0;
	border-top: none;
}
.dynamic-highlights-settings
	.highlighter-container
	.highlighter-details
	.setting-item-control {
	flex-wrap: nowrap;
	flex-grow: 0;
	border-top: none;
}

/* ##################### BUTTON AND TOGGLE STYLES #####################*/

.enabled-highlighter-toggle {
	opacity: 0.7; /* Greyed out */
}
.disabled-highlighter-toggle {
	opacity: 0.3; /* Greyed out */
	pointer-events: none; /* Prevent interaction */
	cursor: not-allowed; /* Show a 'disabled' cursor */
}

.disabled-toggle {
	opacity: 0.5; /* Greyed out */
	pointer-events: none; /* Prevent interaction */
	cursor: not-allowed; /* Show a 'disabled' cursor */
}

.mod-cta-inverted {
	background-color: var(--text-on-accent);
	--text-color: var(--interactive-accent);
}

.mod-warning-inverted {
	background-color: var(--text-on-accent);
	--text-color: var(--background-modifier-error);
}

.highlighterToggleOpacity {
	opacity: 0.5;
}

/* ##################### SELECTED HIGHLIGHTS #####################*/
.selectedHighlightsStylingsContainerHeader {
	padding-top: 10px;
}

.selectedHighlightsStylingsContainer {
	display: grid;
	grid-template-columns:
		[example] auto
		[color-picker] auto
		[spacer1] 5px
		[drop-down] auto
		[spacer2] 10px
		[save] auto
		[selected-discard-button] auto
		[spacer3] 10px [end];
	grid-template-rows: [row] auto;
	gap: 10px;
	width: 100%;
	align-items: center;
}

.selectedHighlightsStylingsContainer .example {
	grid-column: example; /* Place in 'choose_color' column */
	text-align: left;
	width: 100%;
}

.selectedHighlightsStylingsContainer .selection-color-picker {
	grid-column: color-picker; /* Place in 'color-picker' column */
}

.selectedHighlightsStylingsContainer .choose-decoration-text {
	grid-column: choose_deco; /* Place in 'choose_deco' column */
	text-align: left; /* Align text to the right */
}

.selectedHighlightsStylingsContainer .decoration-dropdown {
	grid-column: drop-down; /* Place in 'drop-down' column */
	border: none;
}

.selectedHighlightsStylingsContainer .selected-save-button {
	grid-column: save; /* Place in 'save' column */
}

.selectedHighlightsStylingsContainer .selected-discard-button {
	grid-column: selected-discard-button; /* Place in 'reset' column */
}

.selectedHighlightsStylingsContainer .selected-spacer {
	grid-column: spacer3; /* Place in 'save' column */
	border: none;
}

/* ##################### BUTTONS AND STUFF I DON'T UNDERSTAND #####################*/
.dynamic-highlights-settings {
	position: relative;
}

.dynamic-highlights-settings button.action-button {
	display: grid;
	place-content: center;
	padding: 8px 18px;
	/* set this to the obsidian default to address theme devs messing with it 👀 */
	margin-right: 12px;
}

.modal.mod-settings .dynamic-highlights-settings .pcr-button,
.modal.mod-settings .dynamic-highlights-settings .color-wrapper {
	margin: 0;
	padding: 0;
	/* fixing a weird primary style that caused the picker to be oblong */
	--scale-2-3: 0;
	--scale-2-8: 0;
	--scale-2-4: 0;
}

.modal.mod-settings
	.dynamic-highlights-settings
	.setting-item
	.pickr
	button.pcr-button {
	border-radius: 50px;
	overflow: hidden;
	border: 2px solid var(--background-modifier-border);
	height: 30px;
	width: 30px;
}

/* #region search term & save */

.title-container {
	margin-bottom: 1em; /* Adjust spacing below the title */
}

/* #region mobile specific styles */

.is-mobile
	.dynamic-highlights-settings
	.setting-item-control
	button.action-button-save,
.is-mobile .dynamic-highlights-settings .query-wrapper input {
	width: unset;
}

.is-mobile
	.dynamic-highlights-settings
	.setting-item-control
	button.action-button-discard,
.is-mobile .dynamic-highlights-settings .query-wrapper input {
	width: unset;
}

.is-mobile
	.dynamic-highlights-settings
	.setting-item-control
	input.class-input {
	width: fit-content;
}

.is-mobile .dynamic-highlights-settings .query-wrapper {
	display: grid;
	grid-template-columns: 1fr auto auto;
	place-items: center;
}

.is-mobile .dynamic-highlights-settings .setting-item-control select,
.is-mobile .dynamic-highlights-settings .setting-item-control input,
.is-mobile .dynamic-highlights-settings .setting-item-control textarea,
.is-mobile .dynamic-highlights-settings .setting-item-control button {
	width: 100%;
	margin: 0 4px;
}

/* #region pickr vendored styles */
.pickr {
	position: relative;
	overflow: visible;
	transform: translateY(0);
}

.pickr * {
	box-sizing: border-box;
	outline: none;
	border: none;
	-webkit-appearance: none;
	appearance: none;
}

.pickr .pcr-button {
	position: relative;
	height: 2em;
	width: 2em;
	padding: 0.5em;
	cursor: pointer;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Helvetica Neue", Arial, sans-serif;
	border-radius: 0.15em;
	background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" stroke="%2342445A" stroke-width="5px" stroke-linecap="round"><path d="M45,45L5,5"></path><path d="M45,5L5,45"></path></svg>')
		no-repeat center;
	background-size: 0;
	transition: all 0.3s;
}

.pickr .pcr-button::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
	background-size: 0.5em;
	border-radius: 0.15em;
	z-index: -1;
}

.pickr .pcr-button::before {
	z-index: initial;
}

.pickr .pcr-button::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: background 0.3s;
	background: var(--pcr-color);
	border-radius: 0.15em;
}

.pickr .pcr-button.clear {
	background-size: 70%;
}

.pickr .pcr-button.clear::before {
	opacity: 0;
}

.pickr .pcr-button.clear:focus {
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.85), 0 0 0 3px var(--pcr-color);
}

.pickr .pcr-button.disabled {
	cursor: not-allowed;
}

.pickr *,
.pcr-app * {
	box-sizing: border-box;
	outline: none;
	border: none;
	-webkit-appearance: none;
	appearance: none;
}

.pickr input:focus,
.pickr input.pcr-active,
.pickr button:focus,
.pickr button.pcr-active,
.pcr-app input:focus,
.pcr-app input.pcr-active,
.pcr-app button:focus,
.pcr-app button.pcr-active {
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.85), 0 0 0 3px var(--pcr-color);
}

.pickr .pcr-palette,
.pickr .pcr-slider,
.pcr-app .pcr-palette,
.pcr-app .pcr-slider {
	transition: box-shadow 0.3s;
}

.pickr .pcr-palette:focus,
.pickr .pcr-slider:focus,
.pcr-app .pcr-palette:focus,
.pcr-app .pcr-slider:focus {
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.85), 0 0 0 3px rgba(0, 0, 0, 0.25);
}

.pcr-app {
	position: fixed;
	display: flex;
	flex-direction: column;
	z-index: 10000;
	border-radius: 0.1em;
	background: #fff;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0s 0.3s;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Helvetica Neue", Arial, sans-serif;
	box-shadow: 0 0.15em 1.5em 0 rgba(0, 0, 0, 0.1), 0 0 1em 0 rgba(0, 0, 0, 0.03);
	left: 0;
	top: 0;
}

.pcr-app.visible {
	transition: opacity 0.3s;
	visibility: visible;
	opacity: 1;
}

.pcr-app .pcr-swatches {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.75em;
}

.pcr-app .pcr-swatches.pcr-last {
	margin: 0;
}

@supports (display: grid) {
	.pcr-app .pcr-swatches {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(auto-fit, 1.75em);
	}
}

.pcr-app .pcr-swatches > button {
	font-size: 1em;
	position: relative;
	width: calc(1.75em - 5px);
	height: calc(1.75em - 5px);
	border-radius: 0.15em;
	cursor: pointer;
	margin: 2.5px;
	flex-shrink: 0;
	justify-self: center;
	transition: all 0.15s;
	overflow: hidden;
	background: transparent;
	z-index: 1;
}

.pcr-app .pcr-swatches > button::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
	background-size: 6px;
	border-radius: 0.15em;
	z-index: -1;
}

.pcr-app .pcr-swatches > button::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--pcr-color);
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 0.15em;
	box-sizing: border-box;
}

.pcr-app .pcr-swatches > button:hover {
	filter: brightness(1.05);
}

.pcr-app .pcr-swatches > button:not(.pcr-active) {
	box-shadow: none;
}

.pcr-app .pcr-interaction {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -0.2em 0 -0.2em;
}

.pcr-app .pcr-interaction > * {
	margin: 0 0.2em;
}

.pcr-app .pcr-interaction input {
	letter-spacing: 0.07em;
	font-size: 0.75em;
	text-align: center;
	cursor: pointer;
	color: #75797e;
	background: #f1f3f4;
	border-radius: 0.15em;
	transition: all 0.15s;
	padding: 0.45em 0.5em;
	margin-top: 0.75em;
}

.pcr-app .pcr-interaction input:hover {
	filter: brightness(0.975);
}

.pcr-app .pcr-interaction input:focus {
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.85),
		0 0 0 3px rgba(66, 133, 244, 0.75);
}

.pcr-app .pcr-interaction .pcr-result {
	color: #75797e;
	text-align: left;
	flex: 1 1 8em;
	min-width: 8em;
	transition: all 0.2s;
	border-radius: 0.15em;
	background: #f1f3f4;
	cursor: text;
}

.pcr-app .pcr-interaction .pcr-result::-moz-selection {
	background: #4285f4;
	color: #fff;
}

.pcr-app .pcr-interaction .pcr-result::selection {
	background: #4285f4;
	color: #fff;
}

.pcr-app .pcr-interaction .pcr-type.active {
	color: #fff;
	background: #4285f4;
}

.pcr-app .pcr-interaction .pcr-save,
.pcr-app .pcr-interaction .pcr-cancel,
.pcr-app .pcr-interaction .pcr-clear {
	color: #fff;
	width: auto;
}

.pcr-app .pcr-interaction .pcr-save,
.pcr-app .pcr-interaction .pcr-cancel,
.pcr-app .pcr-interaction .pcr-clear {
	color: #fff;
}

.pcr-app .pcr-interaction .pcr-save:hover,
.pcr-app .pcr-interaction .pcr-cancel:hover,
.pcr-app .pcr-interaction .pcr-clear:hover {
	filter: brightness(0.925);
}

.pcr-app .pcr-interaction .pcr-save {
	background: #4285f4;
}

.pcr-app .pcr-interaction .pcr-clear,
.pcr-app .pcr-interaction .pcr-cancel {
	background: #f44250;
}

.pcr-app .pcr-interaction .pcr-clear:focus,
.pcr-app .pcr-interaction .pcr-cancel:focus {
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.85),
		0 0 0 3px rgba(244, 66, 80, 0.75);
}

.pcr-app .pcr-selection .pcr-picker {
	position: absolute;
	height: 18px;
	width: 18px;
	border: 2px solid #fff;
	border-radius: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pcr-app .pcr-selection .pcr-color-palette,
.pcr-app .pcr-selection .pcr-color-chooser,
.pcr-app .pcr-selection .pcr-color-opacity {
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: flex;
	flex-direction: column;
	cursor: grab;
	cursor: -webkit-grab;
}

.pcr-app .pcr-selection .pcr-color-palette:active,
.pcr-app .pcr-selection .pcr-color-chooser:active,
.pcr-app .pcr-selection .pcr-color-opacity:active {
	cursor: grabbing;
	cursor: -webkit-grabbing;
}

.pcr-app[data-theme="nano"] {
	width: 14.25em;
	max-width: 95vw;
}

.pcr-app[data-theme="nano"] .pcr-swatches {
	margin-top: 0.6em;
	padding: 0 0.6em;
}

.pcr-app[data-theme="nano"] .pcr-interaction {
	padding: 0 0.6em 0.6em 0.6em;
}

.pcr-app[data-theme="nano"] .pcr-selection {
	display: grid;
	grid-gap: 0.6em;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 5fr auto auto;
	align-items: center;
	height: 10.5em;
	width: 100%;
	align-self: flex-start;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-preview {
	grid-area: 2 / 1 / 4 / 1;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 0.6em;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-preview .pcr-last-color {
	display: none;
}

.pcr-app[data-theme="nano"]
	.pcr-selection
	.pcr-color-preview
	.pcr-current-color {
	position: relative;
	background: var(--pcr-color);
	width: 2em;
	height: 2em;
	border-radius: 50em;
	overflow: hidden;
}

.pcr-app[data-theme="nano"]
	.pcr-selection
	.pcr-color-preview
	.pcr-current-color::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
	background-size: 0.5em;
	border-radius: 0.15em;
	z-index: -1;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-palette {
	grid-area: 1 / 1 / 2 / 3;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-palette .pcr-palette {
	border-radius: 0.15em;
	width: 100%;
	height: 100%;
}

.pcr-app[data-theme="nano"]
	.pcr-selection
	.pcr-color-palette
	.pcr-palette::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
	background-size: 0.5em;
	border-radius: 0.15em;
	z-index: -1;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-chooser {
	grid-area: 2 / 2 / 2 / 2;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-opacity {
	grid-area: 3 / 2 / 3 / 2;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-chooser,
.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-opacity {
	height: 0.5em;
	margin: 0 0.6em;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-chooser .pcr-picker,
.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-opacity .pcr-picker {
	top: 50%;
	transform: translateY(-50%);
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-chooser .pcr-slider,
.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-opacity .pcr-slider {
	flex-grow: 1;
	border-radius: 50em;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-chooser .pcr-slider {
	background: linear-gradient(to right, red, #ff0, lime, cyan, blue, #f0f, red);
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-opacity .pcr-slider {
	background: linear-gradient(to right, transparent, black),
		url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
	background-size: 100%, 0.25em;
}

/* #endregion pickr vendored styles */

/* ##################### MODALS #####################*/
.tag-modal-text {
	width: 400px;
	margin-top: -10px;
	margin-right: 10px;
}

.modal-content-grid {
	display: grid;
	grid:
		[row1-start] [modal-helper-text] 1fr [row1-end]
		[row2-start][inputEl] auto [spacer0] 5px [button1] auto [spacer1] 5px [button2] auto [spacer2] 10px [button3] auto [spacer3] 10px [selected-discard-button] auto [row2-end]
		/ auto 50px auto;
	gap: 10px;
	width: 100%;
	align-items: center;
}

.modal-content-grid .helper-text {
	grid-column: modal-helper-text;
	margin-right: 10px;
}
.modal-content-grid .modal-inputEl {
	grid-column: inputEl;
	align-self: center;
	margin-left: 10px;
}

.modal-content-grid .modal-button1 {
	grid-column: button1;
	align-self: center;
	margin: 10px;
}

.modal-content-grid .modal-button2 {
	grid-column: button2;
	align-self: center;
	margin: 10px;
}

.modal-content-grid .modal-button3 {
	grid-column: button2;
	align-self: center;
	margin: 10px;
}

/* #region style settings import/export */

.modal-dynamic-highlights {
	height: 70vh;
	display: flex;
	flex-direction: column;
}

.modal-dynamic-highlights .modal-content {
	flex-grow: 1;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.modal-dynamic-highlights textarea {
	display: block;
	width: 100%;
	height: 100%;
	font-family: var(--font-monospace) !important;
	font-size: 12px;
	white-space: pre;
	overflow-wrap: normal;
	overflow-x: scroll;
	margin-bottom: 5px;
}

.modal-dynamic-highlights .setting-item {
	align-items: flex-start;
}

.modal-dynamic-highlights .setting-item .setting-item-control a {
	margin-left: 4px;
}

.modal-dynamic-highlights button {
	margin: 10px 0 0;
}

.modal-dynamic-highlights .style-settings-import-error {
	display: none;
	color: var(--text-error);
}

.modal-dynamic-highlights .style-settings-import-error.active {
	display: block;
}
